# Virtual environments
venv/
**/venv/
.venv/
**/.venv/

# Python cache files
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
*.pyc

# Byte-compiled files
*.pyo

# pytest cache
.pytest_cache/
**/.pytest_cache/

# Coverage reports
.coverage
htmlcov/

# Environment files
.env
*.env.local

# E2E test result logs
**/test-results/